synapse_workspace_name                  = "synwksynlabuks001"
synapse_managed_resource_group_name     = "rg-synapse-managed-uksouth"
synapse_sql_admin_login                 = "sqladminsynlab"
synapse_sql_admin_password              = "ReplaceWithAStrongPassword123!"
synapse_managed_virtual_network_enabled = true
synapse_public_network_access_enabled   = true
synapse_workspace_firewall_rule_name    = "allow-current-client-ip"
synapse_workspace_firewall_start_ip_address = "178.255.71.207"
synapse_workspace_firewall_end_ip_address   = "178.255.71.207"
synapse_spark_pool_name                 = "spark01"
synapse_spark_node_size_family          = "MemoryOptimized"
synapse_spark_node_size                 = "Small"
synapse_spark_cache_size                = 100
synapse_spark_autoscale_min_node_count  = 3
synapse_spark_autoscale_max_node_count  = 3
synapse_spark_autopause_delay_in_minutes = 15
